    {% extends 'base.html' %}


    {% block title %}
    <title>동물 꿈해몽</title>
    <meta property="og:title" content="동물 꿈해몽">
    {% endblock %}

    {% block description %}동물 꿈해몽을 해석하세요{% endblock %}
    {% block keywords %}동물꿈, 동물꿈해몽, 꿈, 꿈해몽, 꿈해석{% endblock %}


    {% block styles %}

    <style>
    .sub_box{
        background-color: rgb(255 255 255 / 50%);
        border-radius: 8px;
        padding: 20px;
        text-align: left;
        border: solid #9b4545 2px;
        font-weight: 600;
    }
    .intro_title2{
        font-size: 17px;
        color: #741414;

        transition: text-shadow 0.3s ease;

        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;

    }



    </style>


    {% endblock %}


    {% block content %}


    <div class="contain dreamzodiac">





    </div>
    {% endblock %}


    {% block scripts %}
    <script>
        $(document).ready(function() {



        });
    </script>
    {% endblock %}
