    {% extends 'base.html' %}


    {% block title %}타로{% endblock %}
    {% block description %}올점은 사주, 타로, 점성술, 성명학, 주역 점괘 등 세상의 모든 점술 서비스를 무료로 제공하는 웹사이트입니다. 개인 맞춤형 상담으로 여러분의 운세를 안내합니다.{% endblock %}
    {% block keywords %}주역, 무료 운세, 점괘, 사주, 타로, 점성술, 성명학, 운세{% endblock %}

    {% block styles %}
    <style>

         .shake_title {
            font-size: 36px;
            color: #741414;
            /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
            transition: text-shadow 0.3s ease;
            font-family: 'Playfair Display', serif;
            font-weight: 700;
            margin-bottom: 20px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        }

        @media screen and (max-width: 768px) {
            .shake_title {
                font-size: 20px;
            }
        }

        @keyframes gradientText {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
        /* 카드 컨테이너 스타일 */
        .card-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr); /* 6개의 열 */
            grid-template-rows: repeat(13, 1fr);  /* 13개의 행 */
            gap: 10px;
            width: 90%;
            margin: 50px auto;
            max-width: 1000px;
        }

        /* 각 카드 스타일 */
        .card {
            width: 100%;
            padding-top: 150%; /* 정사각형 카드 */
            position: relative;
            background-color: #ccc;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-size: cover;
            background-position: center;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 0.5s ease, opacity 0.5s ease;
            z-index:5;
            border: 2px solid #c4c16a;

        }

        /* 카드가 순차적으로 나타나는 애니메이션 효과 */
        .card.show {
            transform: translateY(0);
            opacity: 1;
        }
        .card:hover {
            transform: scale(1.1); /* 마우스가 hover 되었을 때 10% 확대 */
        }

        .card.flipped {
            transform: rotateY(180deg); /* 카드가 180도 회전 */
        }

        .card img {
            width: 100%;
            height: 100%;
            backface-visibility: hidden; /* 뒷면 보이지 않도록 */
            position: absolute;
            top: 0;
            left: 0;
        }

        /* 버튼 스타일 */
        button {

            font-size: 16px;
            cursor: pointer;
        }
    </style>
    {% endblock %}

    {% block content %}
    <!-- 콘텐츠 영역 -->
    <div class="contain tarot">
        <div class="content">
            <div class="intro">
                <div id="hi" class="intro_title">타로 카드를 통해<br>당신의 미래를 발견하세요</div>
                <p>미래를 예측하고 인생의 중요한 순간에 현명한 결정을 내릴 수 있도록 돕는 타로 카드의 지혜.<br>타로 카드는 단순한 점이 아니라,<br> 우리의 삶을 이끌어주는 깊은 통찰을 제공합니다.</p>
                <p>이제, 마음을 열고 타로 카드의 안내를 받아보세요.<br> 카드가 당신의 길을 밝혀 줄 것입니다.</p>
                <p>타로와 함께 운명을 탐구하고, 삶의 새로운 가능성을 발견하세요. <br>지금, 당신의 운명이 기다리고 있습니다.</p>
            </div>
            <div id="hidden" class="hidden">
            </div>
            <div id="startBtn" class="lastBtn">
                <button id="process" type="button" class="btn btn-outline-dark">시작하기</button>
                <!--<a href="javascript:void(0);" class="tarot-button ui-link">시작하기</a>-->
            </div>
        </div>
    </div>



        <!-- 모달 HTML 구조 -->
        <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cardModalLabel">모달 제목</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        여기에 모달 내용이 들어갑니다.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}



    {% block scripts %}
    <script >


    // Bootstrap 모달 객체 생성
    const cardModal = new bootstrap.Modal(document.getElementById('cardModal'));

    cardSettingValue = false;
    // 카드 정보를 담을 배열 선언
    var cardData = [];


        $(document).ready(function() {
            console.log('1');
            showLoadingModal();

            // 10초 후 모달을 닫는 함수
            setTimeout(function() {
                closeLoadingModal();
            }, 500); // 10000ms = 10초


            $('#process').on('click', function() {
               const displayStyle = $('#hidden').css('display');
                    if (displayStyle === "none") {
                    showDiv();
                    return;
                }
                tarotSetting();
            });





        })

    const warningMessage = `1. 명확한 질문을 준비하라
타로 카드는 구체적이고 진심 어린 질문에 더 정확한 인사이트를 제공합니다.
2. 열린 마음으로 진행하라
타로 리딩을 할 때는 마음을 열고, 카드가 전하는 메시지에 귀를 기울이는 것이 중요합니다.
3. 결과를 고정된 해석으로 여기지 말라
타로는 당신에게 지침을 제공할 뿐, 모든 것은 당신의 선택에 달려있습니다. 점괘를 유연하게 받아들이고 자신의 내면을 탐구하세요.

아래 버튼을 클릭하세요.`;


        // 한 글자씩 표시하는 함수
        function typeText(element, text, delay = 80) {
            let index = 0;
            const interval = setInterval(() => {
                if (index < text.length) {
                    element.textContent += text[index]; // 한 글자씩 추가
                    index++;
                } else {
                    clearInterval(interval); // 모든 글자가 표시되면 타이머 종료
                }
            }, delay);
        }

        // 숨겨진 div를 나타내고 타이핑 애니메이션 실행
        function showDiv() {
            const hiddenDiv = document.getElementById('hidden');
            hiddenDiv.style.display = 'block'; // div를 보이게 함
            hiddenDiv.textContent = ''; // 초기화
            typeText(hiddenDiv, warningMessage); // 타이핑 애니메이션 실행
        }


        function tarotSetting(){

           $.when.apply($, $('.content').children().map(function() {
                return $(this).fadeOut(500).promise();
            })).done(function() {
                $('.content').children().remove(); // 모든 요소가 숨겨진 후 제거
                cardSetting(); // 모든 요소가 제거된 후 한 번만 호출
            });

        }

        function cardSetting() {
            // 콘텐츠에 소개 메시지 추가
            $('.content').append(`<div class="intro"><div id="hi" class="shake_title" >카드를 섞는중입니다.</div></div>`);

            // 카드 컨테이너 추가
            $('.content').append(`<div class="card-container"></div>`);

            const cardContainer = $(".card-container");

            // 78개의 인덱스 배열을 랜덤하게 섞기
            const indices = [...Array(78).keys()];  // 0부터 77까지의 배열 생성
            for (let i = indices.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [indices[i], indices[j]] = [indices[j], indices[i]];  // Fisher-Yates 알고리즘으로 배열 섞기
            }

            // 78개의 카드를 동적으로 생성하여 card-container에 추가
            for (let i = 0; i < 78; i++) {
                const direction = Math.random() < 0.5 ? 'Forward' : 'Reverse';
                const card = $(`<div class="card" data-idx="${indices[i] + 1}" data-direction="${direction}"></div>`);
                card.css('background-image', "url('../../static/img/tarot_go.png')");
                cardContainer.append(card);
            }

            // 카드 나누기 버튼 클릭 시 카드들이 랜덤하게 나타나는 효과
            const cards = $(".card");

            // 한 번에 7개씩 랜덤한 순서로 카드 보여주기
            const groupSize = 7;  // 한 번에 보여줄 카드 개수
            for (let i = 0; i < indices.length; i += groupSize) {
                setTimeout(function() {
                    // 7개씩 동시에 나타내기
                    indices.slice(i, i + groupSize).forEach(index => {
                        $(cards[index]).addClass('show');
                    });
                }, (i / groupSize) * 500);  // 각 그룹 간의 간격을 500ms로 설정
            }

            // 카드 배열이 끝난 후 cardSettingValue를 true로 설정하고 텍스트 업데이트
            setTimeout(function() {
                cardSettingValue = true;  // 카드 배열이 끝났음을 알림

                // #hi 요소의 텍스트를 변경
                $('#hi').text('78장의 카드중에 3장을 고르세요');
            }, (Math.ceil(indices.length / groupSize)) * 500);  // 모든 카드가 나타난 후 설정
        }




        let flippedCount = 0;  // 뒤집힌 카드의 수를 추적하는 변수

        // 카드 정보를 담을 배열 선언
        cardData = [];
        // 클릭 이벤트 핸들러 (카드 배열 완료 후에만 동작)
        $('.content').on('click', '.card', function() {
            // 카드 배열이 완료되었는지 확인
            if (!cardSettingValue) {
                return;  // 아직 카드 배열이 끝나지 않았다면 클릭 이벤트 무시
            }

            var card = $(this);

            // 이미 3개의 카드가 뒤집힌 경우 더 이상 뒤집지 않음
            if (flippedCount >= 3) {
                return;
            }


            // 카드가 이미 뒤집혔는지 확인
            if (!card.hasClass('flipped')) {
                // 카드 뒤집기
                card.addClass('flipped');

                var idx = card.attr('data-idx');
                var direction = card.attr('data-direction');  // direction 속성에서 값 가져오기

                // 카드 정보를 객체로 만들어 배열에 추가
                cardData.push({
                    type: flippedCount,
                    idx: idx,
                    direction: direction
                });




                setTimeout(function() {
                    card.css('background-image', `url("../../static/img/tarot/mini_${idx}.jpg")`);

                    // Reverse인 경우 180도 회전
                    if (direction === 'Reverse') {
                        card.css('transform', 'rotateX(180deg)');
                    } else {
                        card.css('transform', 'rotateX(0deg)'); // 정방향일 경우 정상 상태
                    }
                }, 300);

                // 뒤집힌 카드 수 증가
                flippedCount++;

                // 카드가 3개 모두 뒤집혔을 때 버튼 추가 및 스크롤
                if (flippedCount === 3) {

                    // 카드 데이터 JSON 변환
                    let cardDataJson = JSON.stringify(cardData);

                    // 버튼 추가
                    $('.content').append(`
                        <div id="startBtn" class="lastBtn">
                            <a href="javascript:void(0);" class="tarot-result-button ui-link">시작하기</a>
                        </div>
                    `);

                    // 스크롤을 마지막으로 내리기
                    $('html, body').animate({
                        scrollTop: $(document).height() // 페이지 맨 아래로 스크롤
                    }, 500);  // 0.5초 동안 부드럽게 스크롤
                }
            }
        });


        $('.content').on('click', '.tarot-result-button', function() {


                console.log(cardData);
                console.log(cardData);
                $.ajax({
                    type: 'POST',
                    url: '/tarot_process',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(cardData),

                    success: function(response) {
                        // 서버가 반환한 리디렉션 URL을 사용하여 새로운 페이지로 이동
                        window.location.href = response.redirect;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("에러가 발생했습니다.");
                        console.log("에러 상태 코드: " + jqXHR.status);
                        console.log("에러 상태 텍스트: " + textStatus);
                        console.log("서버로부터 받은 응답: " + jqXHR.responseText);
                        console.log("에러 메시지: " + errorThrown);
                    }
                });
            });



    </script>

    {% endblock %}