<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexagram Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hexagram.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myCss.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">


</head>
<body>
<!-- 20241021 -->
    <div class="page-container">
        <!-- 상단 고정 네비게이션 바 -->
        <header>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/hexagram">점쾌</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/hexagram">점괘</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">사주</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="#">타로</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

        <!-- 콘텐츠 영역 -->
        <div class="content">
            <div class="intro">
                <div id="hi" class="intro_title">당신의 운명을 탐험하세요</div>
                <p>미래를 예측하고 인생의 중요한 순간에 현명한 결정을 내릴 수 있도록 돕는 주역의 지혜.<br>주역은 단순한 점이 아니라, 우리의 삶을 이끌어주는 깊은 통찰을 제공합니다.</p>
                <p>이제, 마음을 열고 주역의 안내를 받아보세요. 하늘의 뜻은 몰라도 당신의 선택을 빛으로 이끌어 줄 것입니다.</p>
                <p>주역과 함께 운명을 탐구하고, 삶의 새로운 가능성을 발견하세요. <br>지금, 당신의 운명이 기다리고 있습니다.</p>
            </div>
            <div id="hidden">
            </div>
            <div id="startBtn" class="lastBtn">
                <a href="javascript:void(0);" class="ghost-button ui-link">시작하기</a>
            </div>
        </div>

        <!-- 하단 고정 푸터 -->
        <footer class="footer" style="z-index:3">
            <div class="container">
                <span>후원 : 신한 110-202-740922 (김정목)</span>
            </div>
        </footer>
    </div>

    <!-- 공통 모달이 여기에 동적으로 삽입됩니다 -->
    <div id="commonModalContainer"></div>

    <!-- Bootstrap 및 JavaScript 파일 -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myFunction.js') }}"></script>

    <script >
        $(document).ready(function() {
            showLoadingModal();

            // 10초 후 모달을 닫는 함수
            setTimeout(function() {
                closeLoadingModal();
            }, 1000); // 10000ms = 10초

            $('.ghost-button').on('click', function() {


                const displayStyle = $('#hidden').css('display');
                    if (displayStyle === "none") {
                    showDiv();
                    return;
                }


                $.ajax({
                    type: 'POST',
                    url: '/hexagram_process', // Flask의 /process 경로로 요청
                    dataType: 'json',
                    success: function(response) {
                        // 서버가 반환한 리디렉션 URL을 사용하여 새로운 페이지로 이동
                        window.location.href = response.redirect;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("에러가 발생했습니다.");
                        console.log("에러 상태 코드: " + jqXHR.status);
                        console.log("에러 상태 텍스트: " + textStatus);
                        console.log("서버로부터 받은 응답: " + jqXHR.responseText);
                        console.log("에러 메시지: " + errorThrown);
                    }
                });
            });
        })


    const warningMessage = `1. 명확한 질문을 준비하라
    주역은 막연한 질문보다는 구체적이고 명확한 질문에 더 나은 통찰을 제공합니다.
    2. 심리적으로 안정된 상태에서 진행하라
    주역 점괘를 할 때는 마음을 차분히 하고, 집중하는 것이 중요합니다.
    3. 해석을 주관적으로 왜곡하지 말라
    있는 그대로의 점괘를 받아들이고, 그 안에서 자신이 해야 할 역할을 찾는 것이 중요합니다.`;
    // 한 글자씩 표시하는 함수
    function typeText(element, text, delay = 80) {
        let index = 0;
        const interval = setInterval(() => {
            if (index < text.length) {
                element.textContent += text[index]; // 한 글자씩 추가
                index++;
            } else {
                clearInterval(interval); // 모든 글자가 표시되면 타이머 종료
            }
        }, delay);
    }

    // 숨겨진 div를 나타내고 타이핑 애니메이션 실행
    function showDiv() {
        const hiddenDiv = document.getElementById('hidden');
        hiddenDiv.style.display = 'block'; // div를 보이게 함
        hiddenDiv.textContent = ''; // 초기화
        typeText(hiddenDiv, warningMessage); // 타이핑 애니메이션 실행
    }
    </script>
</body>
</html>
