<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="google-site-verification" content="FedKpaqD_YMVirBy5GMYUlTEd3OfIFS912DHOnMWMOg" />
    <meta name="naver-site-verification" content="d0a3510034916363d2b23348fa67ce380dd8b320" />


    <title>{% block title %}기본 제목{% endblock %}</title>
    <meta name="description" content="{% block description %}기본 설명{% endblock %}">
    <meta name="keywords" content="올점, 무료 운세, 주역, 점괘, 사주, 타로, 점성술, 성명학, 운세, 별자리, 오늘 의 운세,오늘 의 운세 무료" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="올점">
    <meta property="og:image" content="https://www.alljum.com/static/img/logo.jpg">
    <meta property="og:url" content="www.alljum.com">



    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-16x16.png') }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hexagram.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myCss.css') }}?ver=202410302">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- Bootstrap 및 JavaScript 파일 -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myFunction.js') }}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QETV2ZT0NN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QETV2ZT0NN');
    </script>


    {% block styles %}{% endblock %}

</head>
<body>
    <!-- 20241021 -->
    <div class="page-container">
        <!-- 상단 고정 네비게이션 바 -->
        <header>
            {% include 'nav.html' %}
        </header>


         {% block content %}
            <!-- 각 페이지에서 이 블록을 채우게 됨 -->
         {% endblock %}



        <!-- 푸터 -->
        {% include 'footer.html' %}
    </div>

    <!-- 공통 모달이 여기에 동적으로 삽입됩니다 -->
    <div id="commonModalContainer"></div>


     {% block scripts %}{% endblock %}


</body>
</html>
