 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">올·점</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/intro">올·점이란?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/hexagram">점괘</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    사주
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/chizodiac">당사주</a>
                </div>
            </li>

                <li class="nav-item">
                  <a class="nav-link" href="/tarot">타로</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/dailystarzodiac">별자리</a>
                </li>
              </ul>
            </div>
          </nav>