



<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">올점</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/intro">올점이란?</a>
                </li>


                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    점괘
                </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="/hexagram_intro">점괘란</a>
                    <a class="dropdown-item" href="/hexagram">점괘보기</a>

                </div>



                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    사주
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/mansae">만세력</a>
                    <a class="dropdown-item" >-----------</a>
                    <a class="dropdown-item" href="/eightzodiac_intro">사주명리(四柱命理)란</a>
                    <a class="dropdown-item" href="/eightzodiac">나의 사주명리(四柱命理)</a>
                    <a class="dropdown-item" >-----------</a>
                    <a class="dropdown-item" href="/chizodiac_intro">당사주(唐四柱)란</a>
                    <a class="dropdown-item" href="/chizodiac">나의 당사주(唐四柱)</a>
                </div>

                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    타로
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tarot_intro">타로점이란</a>
                    <a class="dropdown-item" href="/tarot">타로점(3장)</a>

                </div>

                </li>


                <li class="nav-item">
                  <a class="nav-link" href="/dailystarzodiac">별자리</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/dreamzodiac">꿈해몽</a>
                </li>

              </ul>
            </div>
          </nav>

 <script>
    function showPopup(event) {
        event.preventDefault(); // 기본 링크 이동 동작 방지
        alert("서비스 개발 중입니다.");

        // 팝업을 닫은 후 페이지 이동이 필요하면 아래 줄의 주석을 해제하세요
        // window.location.href = '/eightzodiac';
    }
</script>