    {% extends 'base.html' %}

    {% block title %}사주{% endblock %}
    {% block description %}올점은 사주, 타로, 점성술, 성명학, 주역 점괘 등 세상의 모든 점술 서비스를 무료로 제공하는 웹사이트입니다. 개인 맞춤형 상담으로 여러분의 운세를 안내합니다.{% endblock %}
    {% block keywords %}주역, 점괘, 사주, 타로,당사주, 점성술, 성명학, 운세{% endblock %}


    {% block styles %}

    <style>

 .form-input {
        background-color: rgb(255 255 255 / 50%);
        border-radius: 8px;
        padding: 20px;
        text-align:left;
        border: solid #9b4545 2px;
        font-weight: 600;
    }
    .form-select {
        height: calc(1.5em + 0.75rem + 2px); /* label과 동일한 높이로 조정 */
        padding-top: 0.375rem; /* 세로 중앙 맞춤 */
        padding-bottom: 0.375rem;
        font-weight: 600;
        border: solid #9b4545 2px;
    }



    </style>


    {% endblock %}

    {% block content %}
    <!-- 콘텐츠 영역 -->

        <div class="contain chizodiac">
            <div class="content">

                <form id="myForm" class="needs-validation" novalidate>
               <div class="intro">
                    <div id="hi" class="intro_title">나의 사주명리(四柱命理)</div>
                    <p>사주팔자를 통해 나를 발견하고 <br>인생을 이해하는 사주명리(四柱命理)<br>
                   </p>
                    <p>오행과 음양의 조화로 성격, 재능, 건강, 인간관계를<br>
                    종합적으로 분석하여, 다가올 기회와 도전에<br>
                    대비할 수 있는 지혜를 제공합니다.</p>
                </div>

                <div class="form-input">

                     <div class="container">

                            <!-- 성별 선택 -->
                            <div class="row g-3 align-items-center">
                                <div class="col-4 col-md-2">
                                    <label for="gender" class="form-label">성별</label>
                                </div>
                                <div class="col-8 col-md-4">
                                    <select id="gender" class="form-select" required>
                                        <option selected disabled value="">성별</option>
                                        <option>남성</option>
                                        <option>여성</option>
                                    </select>

                                </div>
                            </div>

                            <!-- 생년월일 선택 (양/음력, 년, 월, 일, 시) -->
                            <div class="row g-3 align-items-center mt-3">
                                <div class="col-4 col-md-2">
                                    <label class="form-label">생년월일</label>
                                </div>
                                <div class="col-8 col-md-10">
                                    <div class="row g-3">
                                        <div class="col-6 col-md-3">
                                            <select id="calendar" class="form-select" required>
                                                <option selected disabled value="">선택</option>
                                                <option>양력</option>
                                                <option>음력</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <select id="year" class="form-select" required>
                                                <option selected disabled value="">년</option>
                                                <!-- 연도 예시 -->
                                                <option>2000</option>
                                                <option>1999</option>
                                                <option>1998</option>
                                                <!-- 추가 필요시 반복 -->
                                            </select>
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <select id="month" class="form-select" required>
                                                <option selected disabled value="">월</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <!-- 1월부터 12월까지 추가 -->
                                            </select>
                                        </div>
                                        <div class="col-6 col-md-3">
                                            <select id="day" class="form-select" required>
                                                <option selected disabled value="">일</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <!-- 1일부터 31일까지 추가 -->
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>

                             <div class="row g-3 align-items-center mt-3">
                                <div class="col-4 col-md-2">
                                    <label for="gender" class="form-label">시간</label>
                                </div>
                                <div class="col-8 col-md-4">
                                    <select id="time" class="form-select" required>
                                        <option selected disabled value="">선택</option>

                                        <option value="00">朝子(00:00~01:30)</option>
                                        <option value="02">丑(01:31~03:30)</option>
                                        <option value="04">寅(03:31~05:30)</option>
                                        <option value="06">卯(05:31~07:30)</option>
                                        <option value="08">辰(07:31~09:30)</option>
                                        <option value="10">巳(09:31~11:30)</option>
                                        <option value="12">午(11:31~13:30)</option>
                                        <option value="14">未(13:31~15:30)</option>
                                        <option value="16">申(15:31~17:30)</option>
                                        <option value="18">酉(17:31~19:30)</option>
                                        <option value="20">戌(19:31~21:30)</option>
                                        <option value="22">亥(21:31~23:30)</option>
                                        <option value="24">夜子(23:31~24:00)</option>
                                    </select>

                                </div>
                            </div>
                        </div>



                </div>

                <div id="startBtn" class="lastBtn">
                    <button id="process" type="button" class="btn btn-outline-dark">시작하기</button>
                    <!--<a href="javascript:void(0);" class="chizodiac-button ui-link">시작하기</a>-->
                </div>

                </form>
            </div>


        </div>
    {% endblock %}



    {% block scripts %}
    <script >
        $(document).ready(function() {
            showLoadingModal();


            const yearSelect = $('#year');
            yearSelect.find('option:not(:first)').remove();
            const currentYear = new Date().getFullYear();

            for (let year = currentYear; year >= 1930; year--) {
                yearSelect.append(new Option(year, year));
            }

            const monthSelect = $('#month');
            monthSelect.find('option:not(:first)').remove(); // 기본 "선택" 옵션을 제외하고 기존 옵션 삭제

            // 1월부터 12월까지 옵션 추가
            for (let month = 1; month <= 12; month++) {
                monthSelect.append(new Option(month, month));
            }

            const daySelect = $('#day');
            daySelect.find('option:not(:first)').remove(); // 기본 "선택" 옵션을 제외하고 기존 옵션 삭제

            // 1일부터 31일까지 옵션 추가
            for (let day = 1; day <= 31; day++) {
                daySelect.append(new Option(day, day));
            }

            // 10초 후 모달을 닫는 함수
            setTimeout(function() {
                closeLoadingModal();
            }, 500); // 10000ms = 10초

            $('#process').on('click', function() {

                const form = document.getElementById('myForm');



                // 폼 유효성 검사
                if (form.checkValidity() === false) {
                    form.classList.add('was-validated'); // Bootstrap 유효성 스타일 적용
                    return;
                }

                const eightzodiac_data = {
                    gender: $("#gender").val(),
                    calendar: $("#calendar").val(),
                    year: $("#year").val(),
                    month: $("#month").val(),
                    day: $("#day").val(),
                    time: $("#time").val()
                };



                $.ajax({
                    type: 'POST',
                    url: '/eightzodiac_process',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(eightzodiac_data),

                    success: function(response) {
                        // 서버가 반환한 리디렉션 URL을 사용하여 새로운 페이지로 이동
                        window.location.href = response.redirect;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("에러가 발생했습니다.");
                        console.log("에러 상태 코드: " + jqXHR.status);
                        console.log("에러 상태 텍스트: " + textStatus);
                        console.log("서버로부터 받은 응답: " + jqXHR.responseText);
                        console.log("에러 메시지: " + errorThrown);
                    }
                });
            });
        })


    </script>
     {% endblock %}
