    {% extends 'base.html' %}

    {% block title %}세상의 모든 점 올점{% endblock %}
    {% block description %}올점은 사주, 타로, 점성술, 성명학, 주역 점괘 등 세상의 모든 점술 서비스를 무료로 제공하는 웹사이트입니다. 개인 맞춤형 상담으로 여러분의 운세를 안내합니다.{% endblock %}

    {% block content %}
     <div class="contain intropage">
       <!-- 콘텐츠 영역 -->
        <div class="content">
            <div class="intro">
                <div id="hi" class="intro_title">시절인연(時節因緣)<br> 방갑습니다. </div>
                <p class="first_type">올점: 모든 점을 탐구할 수 있는 공간</p>
                <p>세상의 모든 점을 탐구할 수 있는 공간, 올점에 오신 것을 환영합니다.<br>여러분의 삶에 더 나은 방향을 제시하고, 중요한 결정을 내리는 데 도움을 드릴 것입니다.</p>
                <p>올점은 주역, 사주, 타로, 명성학 등 다양한 전통적인 지혜를 바탕으로, 여러분이 맞닥뜨린 인생의 고민과 물음에 대해 심층적인 통찰을 제공합니다.</p>
                <p>이제, 하늘과 땅의 이치를 탐구하며 자신만의 운명을 발견하세요. <br>운명의 길은 늘 우리 앞에 열려 있으며, 그 선택은 오롯이 여러분의 것입니다.</p>
                <p>올점과 함께 삶의 모든 가능성을 열어가세요.<br>지금, 당신의 이야기가 시작됩니다.</p>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block scripts %}
    <script >


        $(document).ready(function() {





        })



    </script>

    {% endblock %}