<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세상의 모든 점 올·점</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hexagram.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myCss.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">


</head>
<body>
<!-- 20241021 -->
    <div class="page-container">
        <!-- 상단 고정 네비게이션 바 -->
        <header>
          <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">올·점</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/intro">올·점이란?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/hexagram">점괘</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">사주</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="#">타로</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

       <!-- 콘텐츠 영역 -->
        <div class="content intropage">
            <div class="intro">
                <div id="hi" class="intro_title">시절인연(時節因緣)<br> 방갑습니다. </div>
                <p>올·점: 모든 점을 탐구할 수 있는 공간</p>
                <p>세상의 모든 점을 탐구할 수 있는 공간, 올·점에 오신 것을 환영합니다.<br>여러분의 삶에 더 나은 방향을 제시하고, 중요한 결정을 내리는 데 도움을 드릴 것입니다.</p>
                <p>올·점은 주역, 사주, 타로, 명성학 등 다양한 전통적인 지혜를 바탕으로, 여러분이 맞닥뜨린 인생의 고민과 물음에 대해 심층적인 통찰을 제공합니다.</p>
                <p>이제, 하늘과 땅의 이치를 탐구하며 자신만의 운명을 발견하세요. <br>운명의 길은 늘 우리 앞에 열려 있으며, 그 선택은 오롯이 여러분의 것입니다.</p>
                <p>올·점과 함께 삶의 모든 가능성을 열어가세요.<br>지금, 당신의 이야기가 시작됩니다.</p>
            </div>
        </div>

        <!-- 하단 고정 푸터 -->
        <footer class="footer" style="z-index:7">
            <div class="container">
                <span>후원 : 신한 110-217-858099 (손혜진)</span>
            </div>
        </footer>
    </div>

    <!-- 공통 모달이 여기에 동적으로 삽입됩니다 -->
    <div id="commonModalContainer"></div>

    <!-- Bootstrap 및 JavaScript 파일 -->
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myFunction.js') }}"></script>

    <script >
        $(document).ready(function() {
            showLoadingModal();

            // 10초 후 모달을 닫는 함수
            setTimeout(function() {
                closeLoadingModal();
            }, 1000); // 10000ms = 10초

            $('.ghost-button').on('click', function() {


                const displayStyle = $('#hidden').css('display');
                    if (displayStyle === "none") {
                    showDiv();


                    return;
                }


                $.ajax({
                    type: 'POST',
                    url: '/hexagram_process', // Flask의 /process 경로로 요청
                    dataType: 'json',
                    success: function(response) {
                        // 서버가 반환한 리디렉션 URL을 사용하여 새로운 페이지로 이동
                        window.location.href = response.redirect;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        alert("에러가 발생했습니다.");
                        console.log("에러 상태 코드: " + jqXHR.status);
                        console.log("에러 상태 텍스트: " + textStatus);
                        console.log("서버로부터 받은 응답: " + jqXHR.responseText);
                        console.log("에러 메시지: " + errorThrown);
                    }
                });
            });
        })


    const warningMessage = `1. 명확한 질문을 준비하라
    주역은 막연한 질문보다는 구체적이고 명확한 질문에 더 나은 통찰을 제공합니다.
    2. 심리적으로 안정된 상태에서 진행하라
    주역 점괘를 할 때는 마음을 차분히 하고, 집중하는 것이 중요합니다.
    3. 해석을 주관적으로 왜곡하지 말라
    있는 그대로의 점괘를 받아들이고, 그 안에서 자신이 해야 할 역할을 찾는 것이 중요합니다.

    아래 버튼을 클릭하세요.`;

    // 한 글자씩 표시하는 함수
    function typeText(element, text, delay = 80) {
        let index = 0;
        const interval = setInterval(() => {
            if (index < text.length) {
                element.textContent += text[index]; // 한 글자씩 추가
                index++;
            } else {
                clearInterval(interval); // 모든 글자가 표시되면 타이머 종료
            }
        }, delay);
    }

    // 숨겨진 div를 나타내고 타이핑 애니메이션 실행
    function showDiv() {
        const hiddenDiv = document.getElementById('hidden');
        hiddenDiv.style.display = 'block'; // div를 보이게 함
        hiddenDiv.textContent = ''; // 초기화
        typeText(hiddenDiv, warningMessage); // 타이핑 애니메이션 실행
    }
    </script>
</body>
</html>
